.card {
    margin-bottom: 2em;
    border-radius: 10px;
    border: none;
    box-shadow: $box-shadow;
}

// .page-item .active {
//     color: $colour-primary !important;
//     border: 2px $colour-primary !important;
// }